<%= form_with(model: appliance, local: true) do |form| %>
  <% if appliance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appliance.errors.count, "error") %> prohibited this appliance from being saved:</h2>

      <ul>
        <% appliance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :appliance_type %>
    <%= form.text_field :appliance_type %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <%= form.label :last_serviced %>
    <%= form.date_select :last_serviced %>
  </div>

  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="field">
    <%= form.label :service_due %>
    <%= form.date_select :service_due %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :contact_id %>
    <%= form.text_field :contact_id %>
  </div>

  <div class="field">
    <%= form.label :house_id %>
    <%= form.text_field :house_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
