<p id="notice"><%= notice %></p>

<h1>Appliances</h1>

<table>
  <thead>
    <tr>
      <th>Appliance type</th>
      <th>Category</th>
      <th>Last serviced</th>
      <th>Make</th>
      <th>Model</th>
      <th>Notes</th>
      <th>Service due</th>
      <th>Year</th>
      <th>Contact</th>
      <th>House</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appliances.each do |appliance| %>
      <tr>
        <td><%= appliance.appliance_type %></td>
        <td><%= appliance.category %></td>
        <td><%= appliance.last_serviced %></td>
        <td><%= appliance.make %></td>
        <td><%= appliance.model %></td>
        <td><%= appliance.notes %></td>
        <td><%= appliance.service_due %></td>
        <td><%= appliance.year %></td>
        <td><%= appliance.contact_id %></td>
        <td><%= appliance.house_id %></td>
        <td><%= link_to 'Show', appliance %></td>
        <td><%= link_to 'Edit', edit_appliance_path(appliance) %></td>
        <td><%= link_to 'Destroy', appliance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appliance', new_appliance_path %>
