<p id="notice"><%= notice %></p>

<p>
  <strong>Appliance type:</strong>
  <%= @appliance.appliance_type %>
</p>

<p>
  <strong>Category:</strong>
  <%= @appliance.category %>
</p>

<p>
  <strong>Last serviced:</strong>
  <%= @appliance.last_serviced %>
</p>

<p>
  <strong>Make:</strong>
  <%= @appliance.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @appliance.model %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @appliance.notes %>
</p>

<p>
  <strong>Service due:</strong>
  <%= @appliance.service_due %>
</p>

<p>
  <strong>Year:</strong>
  <%= @appliance.year %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @appliance.contact_id %>
</p>

<p>
  <strong>House:</strong>
  <%= @appliance.house_id %>
</p>

<%= link_to 'Edit', edit_appliance_path(@appliance) %> |
<%= link_to 'Back', appliances_path %>
