<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @contact.company_name %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @contact.contact_name %>
</p>

<p>
  <strong>Contact type:</strong>
  <%= @contact.contact_type %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @contact.owner_id %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
